.b-text{
    font-size: 12px;
    color: white;

    &--logo {
        color: var(--color);
        font-size: 32px;
    }
    &--l{
        font-size: 18px;
        color: white;
    }
    &--2l{
        font-size: 23px;
        color: white;
    }
    &--xl{
        font-size: 27px;
        color: white;
    }
}
